body{
  background: #ff3a3a;

  background-repeat: no-repeat;

}
nav ul li .daxUl {
    visibility: hidden;
    opacity: 0;
    transition:all linear .2s ;
  }
  
  nav ul li:hover .daxUl {
    visibility: visible;
    opacity: 1;
  }
  .daxUl li{
    color: #fff;
  }

  .towdaxUl {
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.2s;
  }
  
  .onedaxul:hover .towdaxUl {
    visibility: visible;
    opacity: 1;
  }
  